body {
  background-color: #111111!important;
}

.css-10botns-MuiInputBase-input-MuiFilledInput-input {
  padding: 12px 12px!important;
  border-radius: 5px!important;
  background-color: #FFFFFF!important;
  font-size: 20px!important;
  font-weight: 700!important;
}

.css-1to7aaw-MuiButtonBase-root-MuiPaginationItem-root {
  font-size: 16px!important;
  font-weight: 700!important;
  color: #FFFFFF!important;
}

footer {
  background-color: #111111;
  padding-top: 3rem;
  padding-bottom: 3rem;
}

footer p {
  margin-bottom: .25rem;
}